# .env
NODE_ENV=development
PORT=3000
# Any value other than "dev" will be secure at the moment
AUTH_MODE="dev"
CORS=[/localhost.+/,/testenv.com.+/]
COOKIEKEY=cookiekyegoeshere
USERS=["allowedUserOne@gmail.com", "allowedUserTwo@gmail.com"]
APIKEY=KeYgOesHere

# Cookie timeout in hours
COOKIE_TIMEOUT = 24
# Other timeouts in seconds
CONNECTION_TIMEOUT = 120

# Google Auth settings
CLIENTID=clientidgoeshere
CLIENTSECRET=clientsecretgoeshere
REDIRECT=authredirecturlgoeshere

# Mongo Connection goes here
DB_CONNECTION=mongodb://localhost:27017
DB_USER=a
DB_PWD=b
DB_MECHANISM=c
DB_DIGESTPWD=false