<div class="container">
    <h2>Practice</h2>

    TODO: Fix up validation
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" placeholder="Practice Name" [(ngModel)]="practice.name"
                required #nameField="ngModel" />
            <div [hidden]="nameField.valid || nameField.untouched" class="alert alert-danger">Enter a practice name
            </div>
        </div>
        
        <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" name="email" placeholder="Email Address"
                [(ngModel)]="practice.email" required />
        </div>
        
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input class="form-control" name="phone" placeholder="Phone Number"
                [(ngModel)]="practice.phone" required />
        </div>
    
        <div class="row">
            <div class="col-sm-1">
                <button class="btn btn-primary" type="button" [routerLink]="['/practices/']" routerLinkActive="active">Back</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary">Save</button>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-primary" type="button" (click)="delete(practice.id)">Delete</button>
            </div>
        </div>
    </form>
</div>