<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <h2>Donors</h2>
        </div>
        <div class="col-sm-2 float-right">
            <button class="btn btn-primary" type="button" routerLink="/practices" routerLinkActive="active">Go to
                Practices</button>
        </div>
    </div>
    <div class="row font-weight-bold clickable">
        <div class="col-sm" (click)="sortBy('name')">Name</div>
        <div class="col-sm" (click)="sortBy('surname')">Surname</div>
        <div class="col-sm" (click)="sortBy('lastBDDisplayDate')">Last Donation</div>
        <div class="col-sm" (click)="sortBy('practiceName')">Practice</div>
        <div class="col-sm" (click)="sortBy('ownerName')">Owner Name</div>
        <div class="col-sm" (click)="sortBy('email')">Email</div>
        <div class="col-sm" (click)="sortBy('phone')">Phone</div>
    </div>
    <div class="row clickable" *ngFor="let donor of donors" [routerLink]="['/donor/', donor.id]" routerLinkActive="active">
        <div class="col-sm">{{donor.name}}</div>
        <div class="col-sm">{{donor.surname}}</div>
        <div class="col-sm">{{donor.lastBDDisplayDate | date}}</div>
        <div class="col-sm">{{donor.practiceName}}</div>
        <div class="col-sm">{{donor.ownerName}}</div>
        <div class="col-sm">{{donor.email}}</div>
        <div class="col-sm">{{donor.phone}}</div>
    </div>
    <div class="row">
        <div class="col-sm">
            <button class="btn btn-primary" type="button" routerLink="/donor" routerLinkActive="active">Add new</button>
        </div>
    </div>
</div>